@tailwind base;@tailwind components;@tailwind utilities;body{background-color:#05070a;color:#fff;margin:0;font-family:ui-sans-serif,system-ui,sans-serif;display:flex;align-items:center;justify-content:center;min-height:100vh}
